<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Produtos{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen" />

</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">

				<a href="#" style="padding-top:0;padding-bottom:0" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<img src="{% static "images/logo5.png" %}"
					alt="share"/>
				</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li>
						<a href="{% url 'core:product_list' %}">Início</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Sair</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Entrar</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		{% block container %}{% endblock %}
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-unstyled">
						<li class="pull-right"><a href="#top">Voltar ao Topo</a></li>

					</ul>
				</div>
			</div>
		</footer>
	</div>

	{% block js %}
	{% endblock %}
</body>
</html>
